body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top, #2ecc71, #ffff);
  user-select: none;
}

.container {
  padding: 40px 60px;
  position: relative;
  display: flex;
  gap: 30px;
  border-radius: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px 2px #343333;
  background: rgb(207, 52, 146);
  background: linear-gradient(
    325deg,
    rgba(207, 52, 146, 1) 0%,
    rgba(114, 191, 199, 1) 54%,
    rgba(255, 143, 143, 1) 100%
  );
}

h2 {
  font-size: 3em;
  color: #ffff;
  text-shadow: 2px 2px 2px #000000;
}

h2,
.reset {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.reset {
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #ffff;
}
.reset:hover {
  background-color: #dededeed;
}
.reset:focus {
  color: #ffffffc0;
  background-color: #21de9f;
}
.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}
.item {
  position: realative;
  width: 100px;
  height: 100px;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fafffd;
  box-shadow: 2px 2px 5px 1px #000000bc;
  transform: rotateY(180deg);
  transition: 0.25s;
}
.item::after{
  content: '';
  position: absolute;
  inset: 0;
  background-color: #404040;
  transform: rotateY(0deg);
  transition: 0.25s;
  backface-visibility: hidden;
}
.item.boxOpen{
  transform: rotateY(0deg);
}
.boxOpen::after,
.boxMatch::after{
  transform: rotateY(180deg);
}